/*Style for top container*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}




h1{
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3.5rem;
    margin-top: 100px;
}



h2{
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3rem;
}





/* Navigation Bar */

.navbar{
    padding-bottom: 0 0 4.5rem;
}


.navbar-brand{
font-family: "ubuntu";
font-size: 2.5rem;
font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-img{
    width: 350px;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
    margin-top: 20px;
}

/* media queries */



@media (max-width:991px) {

    #title{
        text-align: center;
    }
    
    .title-img{
        position: static;
        transform: rotate(0deg);
        
    }
}


/* Features css */



#features{
    font-family: montserrat;
    font-size: 1.5rem;
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

#features p{
    color:#8f8f8f;
    margin-top: 20px;
    margin-bottom: 80px;
}


.col-lg-4{
    padding: 10x;
}

.iconsf{
    color: #ef8172;
    margin-bottom: 30px;
}

.iconsf:hover{
    color: #ff4c68;
}



/* Testimonials Css HEHEHEHEHE */
#testimonials{
    
    text-align: center;
    color: #fff;
    background-color: #ef8172;

}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}




/* Pricing Section*/

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}







/* Call to action */


#cta{
    background-color: #ff4c68;
    
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}

#cta>h3{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    
}


/* Footer section */


#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
    color: #8f8f8f;
    font-size: x-large;
    font-family: "Ubuntu";
}


.footer-icons{
    
    margin: 20px 10px;
    color: black;
}
